<div>
	<h2 class="contents--head">
		<% if @genre %>
			<%= @genre.name %>
		<% else %>
			レシピ
		<% end %>
			一覧
	</h2>
</div>
<div class="group index">
	<% @recipes.each do |recipe| %>
		<div class="index--item">
			<%= link_to recipe.name, recipe_path(recipe) %>
		</div>
	<% end %>
</div>
<%= paginate @recipes %>
<div class="group index">
	<% @bookmarks.each do |bookmark| %>
		<div class="index--item">
			<%= link_to bookmark.name, bookmark_path(bookmark) %>
		</div>
	<% end %>
</div>